#disable_html_escaping()
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
<textarea class="textarea long-field" cols="40" id="$customField.id" name="$customField.id" rows="5">$textutils.htmlEncode($!lastComment)</textarea>
#end
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)