#disable_html_escaping()
#if ($value)
  #if (${displayParameters.excel_view})
    $textutils.br($textutils.htmlEncode($!lastComment.toString(), false))
  #elseif (!${displayParameters.view_issue})
    $!lastComment.toString()
  #else
    #if ($value && ($value.indexOf("<br") > -1 || $value.indexOf("<p") > -1 || $value.length() > 255))
        <div id="field-${customField.id}" class="twixi-block expanded">
            <div class="twixi-wrap verbose">
                <a href="#" class="twixi"><span class="icon-default aui-icon aui-icon-small aui-iconfont-expanded"><span>$i18n.getText("admin.common.words.hide")</span></span></a>
                <div class="flooded">
                    $!lastComment.toString()
                </div>
            </div>
            <div class="twixi-wrap concise">
                <a href="#" class="twixi"><span class="icon-default aui-icon aui-icon-small aui-iconfont-collapsed"><span>$i18n.getText("admin.common.words.show")</span></span></a>
                <div class="flooded">
                    #if ($value)
                        $velocityhelper.removeHtmlTags($!lastComment.toString())
                    #end
                </div>
            </div>
        </div>
    #else
        $!lastComment.toString()
    #end
  #end
#end
